<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie App</title>
  </head>
  <body>
    <h2>Nafis Ahmad - ENG16CS0087</h2>
    <h1>Enter the movie to search</h1>
    <form action="/results" method="get">
      <input type="text" name="search" placeholder="Enter movie/show" />
      <button>Search</button>
    </form>
  </body>
</html>
